*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
header{
    background-color: lightgreen;
}
h1 {
    color: navy;
    margin-left: 20px;
}
nav.bg-green{
    background-image:repeating-linear-gradient(rgb(62, 196, 227),rgb(252, 246, 68) ); 
}