*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
.nav-link {
    position: relative;
    color:white;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
	text-shadow: 0px 4px 4px grey;
    font-size: 3rem;
    font-weight: 500;
    line-height:1.5;
}
.card {
    width: 30rem;
    border-radius: 7px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px, 0px, 50px rgba(0, 0, 0, 0.2)
}
.card-body{
    color:rgb(249, 131, 4);
    font-weight: 200;
     outline: 2px ;
}
.card-subtitle{
    color: rgb(249, 131, 4);
    font-size: 1.5rem;
    font-weight: 250;
}
.text-muted{
    color: rgb(249, 131, 4);
    font-size: 1rem;
    font-weight: 250;
}
.card-text{
    color:black;
    font-size: 1.5rem;
    font-weight: 300;
}
h1{
    color:White;
    font-size: 3rem;
    font-weight: 200;
    line-height:1.5;
}
header{
    color:white;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
	text-shadow: 0px 4px 4px grey;
    font-size: 3rem;
    font-weight: 200;
    line-height:1.5;

}
.login {
    color:rgb(249, 131, 4);
    font-family: 'Abril Fatface';
    font-size: 6rem;
    font-weight: 500;
    -webkit-text-stroke: .75px #1a1724 ;
	text-shadow: 0px 2px 2px #1a1724;
    line-height:1.5;
}
.login-sentence {
    color:#b7ddff;
    font-family: 'Alfa Slab One';
    font-size: 2rem;
    font-weight: 300;
    -webkit-text-stroke: .75px #1a1724;
	text-shadow: 0px 2px 2px #1a1724;
    line-height:1.5;
}
body{
        margin: 0;
        font-family: Verdana, sans-serif;
        font-size: 1.1rem;
        font-weight: 200;
        line-height: 1.5;
        color:  rgb(173, 193, 47);
        background-image: url("https://i.redd.it/bcfwxcyhzly21.jpg");
        background-size: contain;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent; 
}
.alert{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    font-family: Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.5;
    color:  rgb(173, 193, 47);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

.footer {
    height: 330px;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.clearfooter {
    height: 330px;
    clear: both;
}

.loginbtn {
    background-color: rgb(249, 131, 4);
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    line-height: 1;
    border-bottom: 1px solid #222;
    border-radius: 12px;
    position: relative;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.loginbtn:hover {background-color: #072d08
}
.loginbtn:active {
  background-color: #072d08;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn {
    background-color: rgb(249, 131, 4);
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    line-height: 1;
    border-bottom: 1px solid #222;
    border-radius: 12px;
    position: relative;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover {background-color: rgb(249, 131, 4)
}
.btn:active {
  background-color: rgb(249, 131, 4);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.searchbtn {
    background-color: rgb(249, 131, 4);
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.searchbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  .searchbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .searchbtn:hover span {
    padding-right: 25px;
  }
  
  .searchbtn:hover span:after {
    opacity: 1;
    right: 0;
  }
