<center>
<h3> Following </h3>
<% if current_user.following.length != 0 %>
    <% current_user.following.each do |user| %>
            <!----- <h5 class="card-title"></h5> ------>
        <div class="card" style="width: 20rem;">
        <div class="card-body">
        <br>
        <h4><%= user.user_name %></h4>
        <% if user.followers.include?(current_user) == false %>
        <br>
            <form action="/users/<%=user.id%>/follow" method = "POST">
                <input type="submit" value = "Follow">
            </form>
                    <% else %>    
            <form action="/users/<%=user.id%>/unfollow" method = "POST">
                <input type="submit" value = "Unfollow">   
            </form>
            </div>
            </div>
        <% end %> 
    <% end %>
<% else %>
    <p> You havn't followed anyone yet! </p>
<% end %>
</center>

