<h1>Positive Vibrations Login!</h1>

<p>Please make an account before attempting to sign in.</p>

<form method="post" action="/login">
  <input type="text" name="user_name" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">
  <button class="btn btn-primary" type="submit">Login</button>
<a href="/signup"><button class="btn btn-primary" type="button">Sign Up</button></a>
</form>