<center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Positive Vibes Login!</h1>

<p><strong>Please make an account before attempting to sign in.</strong></p>

<form method="post" action="/login">
  <input type="text" name="user_name" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button class="btn btn-secondary btn-lg" type="submit">Login</button>
<a href="/signup"><button class="btn btn-secondary btn-lg" type="button">Sign Up</button></a>
</form>
</center>