<h3>Positive Vibes Sign Up:</h3>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="user[user_name]"></p>
  <p>Email: <input type="text" name="user[email]"></p>
  <p>Password: <input type="text" name="user[password]"></p>
  <input type="submit">
</form>