
<h2> @<%= @user.user_name %>'s posts </h2>
<ul>
<% @user.posts.each do |post| %>
  <div>
    <%= post.content %>
  </div>
<% end %>
</ul>
<% if following? == false %>
<form action="/users/<%=@user.id%>/follow" method = "POST">
    <input type="submit" value = "Follow Account">
</form>
        <% else %>    
<form action="/users/<%=@user.id%>/unfollow" method = "POST">
      <input type="submit" value = "Unfollow Account">    
</form>
<% end %> 