<br>
<a href="/users/<%=current_user.slug%>"><input type="button" value="See My Posts"></a>
<a href="/posts/new"><input type="button" value="Write New Post"></a>

<h2>Positive Post Feed</h2>
<ul>
<% @posts.each do |post| %>
  <div>
    <%= post.content %>
  </div>
<% end %>
</ul>