<center>
<div class="card" style="width: 30rem;">
<div class="card-body">
  <h2>Write a new Post</h2>
  <form action="/posts" method="POST">
    <textarea placeholder="Write your post..." name="post[content]" rows="4" cols="50">
    </textarea>
    <button class="btn btn-outline-secondary btn-sm" type="submit">Post</button>   
  </form>
  </div>
</div>
  </center>

