<h3> Your most recent post: </h3>
<%= @post.content %>
<br>
<br>
<h3> Menu: </h3>
  <br>
  <form action= "/posts/<%=@post.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Post">
  </form> 
  <br>
  <br>
  <a href="/posts/<%=@post.id%>/edit"<button type="button">Edit Post</button></a>
  <br>
  <br>
  <a href="/posts"<button type="button" value="Post Feed">My Posts</button></a>
