<h3> Your most recent post: </h3>
<%= @post.content %>
<br>
<br>
<h3> Menu: </h3>
  <a href="/posts/<%=@post.id%>/delete"<button type="button">Delete Post</button></a>
  <a rel=”nofollow” data-method=”delete” href=”/posts/<%=@post.id%>">Delete</a>
  <br>
  <br>
  <a href="/posts/<%=@post.id%>/edit"<button type="button">Edit Post</button></a>
  <br>
  <br>
  <a href="/posts"<button type="button" value="Post Feed">My Posts</button></a>
