
<nav>
  <% if logged_in? %>
  <h2> Welcome back, <%=current_user.user_name %> !</h2>
    <h3>Menu:</h3>
    <a href="/posts"><button type="button">Post Feed</button></a>
    <br>
    <br>
    <a href="/friends/posts"><button type="button">Friend's Posts</button></a>
    <br>
    <br>
    <a href="/posts/new"><button type="button">Write New Post</button></a>
    <br>
    <br>
    <a href="users/<%=current_user.slug%>"><button type="button">My Posts</button></a>
    <br>
    <br>
    <a href="/following"><button type="button">Following</button></a>
    <br>
    <br>
  
  <% else %>
    <h2>Welcome to Positive Vibes!</h2>
    <h3>Please login or signup below:</h3>
    <a href="/login"><button type="button">Login!</button></a>
    <a href="/signup"><button type="button">Sign Up!</button></a>
  <%end %>

</nav>