<h2>Welcome to Positive Vibes!</h2>
<p>Please login or signup below:</p>

<nav>
  <% if logged_in? %>

    <a href="/posts"> <input type="sumbit" value="Posts"></a>
    <a href="/logout"> <input type="sumbit" value="Logout"></a>
    <p>Welcome, <%=current_user.user_name %></p>

  <% else %>
    <a href="/signup"><input type="submit" value="Sign up"></a>
    <br>
    <a href="/login"><input type="submit" value="Login"></a>
  <%end %>

</nav>