<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <h3>Postive Vibes</h3>
    <link href="stylesheet.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="wrapper">
        <div class="logo">
            
        </div>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a> </p>
      <form action="users/search" method="GET">
      <input type="text" name="search" placeholder="Search..."</p>
      <input type="submit">
      </form>
    </div>
  </header>
</body>
</html>


<%= yield %>