*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
header{
    background-color: lightblue;
}
h1 {
    color: navy;
    margin-left: 20px;
}
.topnav{
    background-color: lightblue;
}